* {
	box-sizing: border-box;
}

.fade {
	opacity:    0.5;
	background: black;
	width:      100%;
	height:     100%;
	z-index:    10;
	top:        0;
	left:       0;
	position:   fixed;
}

/* Colors */
.black-white {
	background-color: black;
	color: white;
}

.gray-white {
	background-color: gray;
	color: white;
}

.light_gray-white {
	background-color: #a0a0a0;
	color: white;
}

/* Blocks */
.header {
	width: 100%;

	text-align: left;
	font-size: 18px;

	padding: 3px;
	margin-bottom: 3px;
}

.main {
	width: 75%;

	text-align: left;
    font-size: 14px;

	border-radius: 5px;
	
	padding: 3px;
	margin: auto;
}

.row {
	width: 100%;

	border-radius: 5px;

	padding: 3px 3px 3px 3px;
    margin-bottom: 3px;
}

.grid {
	height: 35px;

	border-radius: 5px;

	padding: 9px 3px 3px 3px;

	display: inline-block;
}

/* Controls */
.input {
	width: 100%;

	border-radius: 5px;
	border: 1px solid white;
	
	-webkit-appearance: none;
}

.slider {
	width: 100%;
}

.list {
	width: 100%;
}

.button {
	width: 100%;

	border-radius: 5px;
    border: 1px solid gray;
	
	background-color: white;
	color: gray;

	-webkit-appearance: none;
}

.button:hover {
	transition-duration: 0.4s;

	background-color: gray;
	color: white;
	
	-webkit-transition-duration: 0.4s;
}

a {
	text-decoration: none
}

a:link {
    color: #99beff;
}

a:visited {
    color: #99beff;
}

a:hover {
	-webkit-transition-duration: 0.4s;
	
    color: white;
	
	-webkit-transition-duration: 0.4s;
}

a:active {
    color: #99beff;
}